<div class="container">
  <div class="header-list">
    <span>
      <button class="back-btn" (click)="goBack()">← Volver</button>
      <h1>{{ list?.name }}</h1>
      <p class="subtitle">
        Creada por: <strong>{{ list?.userName }}</strong>
      </p>
    </span>
    <div class="stat-card">
      <span class="stat-number">{{ list?.taskDtos?.length || 0 }}</span>
      <span class="stat-label">Total de tareas</span>
    </div>
  </div>
  <div class="tasks-container">
    <h2>Tareas</h2>
    
    @for (task of list.taskDtos; track $index) {
    <div class="task-card">
      <div class="task-header">
        <h3>{{ task.title }}</h3>
        <span class="status-badge" [class]="'status-' + task.status.toLowerCase()">
          {{ getStatusText(task.status) }}
        </span>
      </div>

      <p class="task-description">{{ task.description }}</p>

      <div class="task-meta">
        <div class="meta-item">
          <span class="meta-label">Fecha de creacion:</span>
          <span class="meta-value">{{ formatDate(task.dueDate) }}</span>
        </div>
        @if (task.updatedAt) {
        <div class="meta-item">
          <span class="meta-label">Fecha de actualizacíon:</span>
          <span class="meta-value">{{ formatDate(task.updatedAt) }}</span>
        </div>
        }
        <div class="meta-item">
          <span class="meta-label">Creado por:</span>
          <span class="meta-value">{{ task.userName }}</span>
        </div>
      </div>
      @if (task.tags && task.tags.length > 0) {
      <div class="tags">
        @for (tag of task.tags; track $index) {
        <span class="tag">{{ tag }}</span>
        }
      </div>
      }
    </div>
    <!--Si no hay tareas-->
    } @if (!list?.taskDtos || list.taskDtos.length === 0) {
    <div class="empty-state">
      <p>📝 No hay tareas en esta lista</p>
    </div>
    }
    <!--Formulario para añadir una tarea-->
    <!-- Botón/Formulario para agregar lista -->
  <div class="add-list-container">
    @if (!showAddForm) {
    <div class="add-list" (click)="toggleAddForm()" (keydown.enter)="toggleAddForm()" tabindex="0">
      <i class="fa-solid fa-plus"></i>
      <span class="add-text">Crear nueva tarea</span>
    </div>
    }@else { @if (loadingTaskPost) {
    <div class="loading-container">
      <div class="spinner"></div>
    </div>
    }@else {
    <!-- Formulario desplegable -->
    <div class="add-form">
      <h3>Nueva Lista</h3>
      <form (submit)="createTask()">
        <div class="form-group">
          <label for="taskTitle">Titulo de la tarea</label>
          <input
            type="text"
            id="taskTitle"
            [(ngModel)]="newTask.title"
            name="taskTitle"
            placeholder="Ej: Compara mañana"
            required
            autofocus
          />
          <label for="taskDescription">Descripcíon de la tarea</label>
          <input
            type="text"
            id="taskDescription"
            [(ngModel)]="newTask.description"
            name="taskDescription"
            placeholder="Ej: Comprar pan, leche y huevos"
            required
            autofocus
          />
          <label for="dueDate">Fecha para la finalizacion de la tarea</label>
          <input
            type="date"
            id="dueDate"
            [(ngModel)]="newTask.dueDate"
            name="dueDate"
            required
            autofocus
          />
        </div>
        <div class="form-actions">
          <button type="button" class="btn-cancel" (click)="toggleAddForm()">Cancelar</button>
          <button type="submit" class="btn-submit">
            Crear Tarea
          </button>
        </div>
      </form>
    </div>
    } }
  </div>

  </div>
</div>
