<div class="form-container">
  <div class="form-header">
    <h2>¡Crea tu cuenta para comenzar!</h2>
  </div>

  <form (ngSubmit)="register()" #formulario="ngForm">
    <!-- CAMPO USERNAME -->
    <div class="form-group">
      <div class="label-title">
        <i class="fa-solid fa-user"></i><label for="username">Nombre de usuario</label>
      </div>
      <input
        type="text"
        id="username"
        name="username"
        [(ngModel)]="user.username"
        required
        #username="ngModel"
        placeholder="Ingresa tu nombre de usuario"
        [class.backend-error-input]="backendErrors.username"
        autocomplete="username"
      />
      @if (username.invalid && username.touched && !backendErrors.username) {
      <div class="error">El nombre de usuario es requerido</div>
      } 
      @if (backendErrors.username) {
      <div class="error">{{ backendErrors.username }}</div>
      }
    </div>

    <!-- CAMPO EMAIL -->
    <div class="form-group">
      <div class="label-title">
        <i class="fa-solid fa-envelope"></i><label for="email">Correo electrónico</label>
      </div>
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="user.email"
        required
        email
        #email="ngModel"
        placeholder="correo@ejemplo.com"
        [class.backend-error-input]="backendErrors.email"
        autocomplete="email"
      />
      @if (email.invalid && email.touched && !backendErrors.email) {
      <div class="error">
        @if (email.errors?.['required']) {
        <span>El email es requerido</span>
        } 
        @if (email.errors?.['email']) {
        <span>Ingresa un email válido</span>
        }
      </div>
      } 
      @if (backendErrors.email) {
      <div class="error">{{ backendErrors.email }}</div>
      }
    </div>

    <!-- CAMPO PASSWORD -->
    <div class="form-group">
      <div class="label-title">
        <i class="fa-solid fa-lock"></i><label for="password">Contraseña</label>
      </div>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="user.password"
        required
        minlength="6"
        #password="ngModel"
        placeholder="Mínimo 6 caracteres"
        [class.backend-error-input]="backendErrors.password"
        autocomplete="current-password"
      />
      @if (password.invalid && password.touched && !backendErrors.password) {
      <div class="error">
        @if (password.errors?.['required']) {
        <span>La contraseña es requerida</span>
        } 
        @if (password.errors?.['minlength']) {
        <span>Mínimo 6 caracteres</span>
        }
      </div>
      } 
      @if (backendErrors.password) {
      <div class="error">{{ backendErrors.password }}</div>
      }
    </div>

    <button type="submit" [disabled]="formulario.invalid" class="btn-submit">Registrar</button>
  </form>
</div>