.container {
  width: 90%;
  min-width: 340px;
  margin: 1.5em auto 2em auto;
  border-radius: 2em;
  padding: 3em;
  background: white;
  box-shadow: 0 20px 60px rgba(29, 51, 84, 0.3), 0 0 0 1px rgba(29, 51, 84, 0.05);
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  animation: containerFadeIn 0.8s ease-out;
}

@keyframes containerFadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.1em;
}

.back-btn {
  background: var(--color-poppy);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 15px;
  transition: background 0.2s;
  transition: all 0.2s ease-in-out;
}

.back-btn:hover {
  scale: 1.05;
}

h1 {
  margin: 0 0 10px 0;
  color: #2c3e50;
  font-size: 32px;
}

.subtitle {
  color: #7f8c8d;
  margin: 0;
}

.info-list{
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
}



.stat-card , .shared-icon{
  background-color: var(--color-poppy);
  padding: 1.1em;
  border-radius: 1em;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  transition: all 0.2s ease-in-out;
  gap: 0.2em;
}

.shared-icon{
  font-size: 1em;
  background-color: var(--color-delft-blue);
}

.stat-card:hover, .shared-icon:hover {
  scale: 1.1;
}

.shared-icon:hover{
  cursor: pointer;
}

.stat-number {
  font-size: 36px;
  font-weight: bold;
}

.stat-label {
  font-size: 14px;
  opacity: 0.9;
}

.list-body h2 {
  color: var(--color-delft-blue);
  margin-bottom: 20px;
}

.empty-state {
  text-align: center;
  padding: 60px 20px;
  color: #95a5a6;
  font-size: 18px;
}

/*Tareas celdas y contenedores*/
.tasks-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  justify-content: center;
  align-items: start;
  margin: 0 auto;
}

.cell-task {
  flex: 1 1 calc(50% - 1.5em);
  min-width: 20em;
  min-height: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .container {
    padding: 1em;
  }

  h1 {
    font-size: 24px;
  }

  .task-header {
    flex-direction: column;
    gap: 10px;
  }

  .cell-task {
    flex: 1 1 100%;
  }

  .status-badge {
    margin-left: 0;
  }
  .info-list{
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
