router-outlet{
    width: 100vw;
    height: 100vh;
}

app-form-register {
    width: 100vw;
    height: 100vh;
}

.container-app {
  margin-left: var(--header-width);
  min-height: 100vh;
  background-color: var(--color-mint-green);
  padding: 0; /* Sin padding, lo controla cada componente */
  overflow-x: hidden; /* Evita scroll horizontal */
}