<div class="container">
  <div class="header-container">
    <h1>Tus listas</h1>
    <span style="display: flex; gap: 0.5em; justify-content: center; align-items: center">
      <i class="fa-solid fa-magnifying-glass icon-search"></i>
      <input placeholder="Buscar lista..." (input)="filter($event.target.value)" />
    </span>
  </div>

  @if (loadingListGet) {
  <div class="loading-container">
    <div class="spinner"></div>
  </div>
  } @else {
  <div class="container-list">
    <!--Generar la data de las listas-->
    @for (list of filterLists; track $index) {
    <app-item-list
      [list]="list"
      [userName]="user.userName"
      [loadingListDelete]="loadingListDelete"
      [loadingListUpdate]="loadingListUpdate"
      [selectIdList]="selectIdList"
      (deleteList)="deleteList($event)"
      (changeListName)="changeListName($event.editListId, $event.editListName)"
      (deleteShareList)="deleteShare($event)"
    ></app-item-list>
    }
  </div>

  <app-add-list-form
    tabindex="0"
    [loadingListPost]="loadingListPost"
    (createList)="createList($event)"
  ></app-add-list-form>
  }
</div>
